@page "/"
@rendermode InteractiveServer
@using WSIST.Engine
<PageTitle>Home</PageTitle>
<div class="top">
    <h1>Your upcoming Tests</h1>

    Welcome to your Overview.
    <button class="btn btn-primary refresh"@onclick="Refresh">
        🔄️
    </button>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Volume</th>
            <th>Understanding</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in tests)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.Subject</td>
                <td>@test.DueDate.ToShortDateString()</td>
                <td>@Test.VolumeHelper(test.Volume)</td>
                <td>@Test.UnderstandingHelper(test.Understanding)</td>
                <td><button class="btn btn-danger" @onclick="() => DeleteTest(test.Id)">🗑️</button> <button class="btn btn-primary" @onclick="() => OpenModal(Modes.EditTest)" @bind="localTest">
                    Edit test
                </button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="() => OpenModal(Modes.AddTest)">
        Add test
    </button>

    @if (showModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseModal">X</span>
                <form class="text-center" @onsubmit="EditTestSubmit">
                    <label for="testTitle">Test Title</label> <br>
                    
                </form>
            </div>
        </div>
    }

</div>
