@page "/"
@rendermode InteractiveServer
@using WSIST.Engine
<PageTitle>Home</PageTitle>

<h1>Your upcoming Tests</h1>

Welcome to your Overview.
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Volume</th>
            <th>Understanding</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in tests)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.Subject</td>
                <td>@test.DueDate.ToShortDateString()</td>
                <td>@test.Volume</td>
                <td>@test.Understanding</td>
                <td><button class="btn btn-danger" @onclick="() => DeleteTest(test.Id)">🗑️</button> <button class="btn btn-primary" @onclick="() => OpenEdit(test)" @bind="localTest">
                    Edit test
                </button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="OpenAddTestModal">
        Add test
    </button>
    <button class="btn btn-primary" @onclick="Refresh">
        Refresh
    </button>
    
    
    @if (showAddTestModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseAddTestModal">X</span>
                <form class="text-center" @onsubmit="AddTestSubmit">
                    <label for="testTitle">Test Title</label><br>
                    <input type="text" id="testTitle" name="Title" @bind="testTitle"><br>
                    <label>Subject</label><br>
                    <select @bind="selectedSubject">
                        @foreach (var subject in Enum.GetValues<Test.Subjects>())
                        {
                            <option value="@subject">@subject</option>
                        }
                    </select><br/>
                    <label for="TestDueDate">Due Date</label><br>
                    <input type="date" id="TestDueDate" name="dueDate" @bind="dueDate"><br/>
                    <label>Volume</label><br>
                    <select @bind="volume">
                        @foreach (var testVolume in Enum.GetValues<Test.TestVolume>())
                        {
                            <option value="@testVolume">@testVolume</option>
                        }
                    </select><br/>
                    <label>Understanding</label><br>
                    <select @bind="understanding">
                        @foreach (var personalUnderstanding in Enum.GetValues<Test.PersonalUnderstanding>())
                        {
                            <option value="@personalUnderstanding">@personalUnderstanding</option>
                        }
                    </select><br/>
                    <label for="grade">Grade</label><br>
                    <input type="number" id="grade" name="Title" @bind="grade"><br>
                    <p></p>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    }
    
    
    @if (showEditTestModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseEditTestModal">X</span>
                <form class="text-center" @onsubmit="EditTestSubmit">
                    <label for="testTitle">Test Title</label><br>
                    <input type="text" id="testTitle" name="Title" @bind="@localTest.Title"><br>
                    <label>Subject</label><br>
                    <select @bind="localTest.Subject">
                        @foreach (var subject in Enum.GetValues<Test.Subjects>())
                        {
                            <option value="@subject">@subject</option>
                        }
                    </select><br/>
                    <label for="TestDueDate">Due Date</label><br>
                    <input type="date" id="TestDueDate" name="dueDate" @bind="@localTest.DueDate"><br/>
                    <label>Volume</label><br>
                    <select @bind="localTest.Volume">
                        @foreach (var testVolume in Enum.GetValues<Test.TestVolume>())
                        {
                            <option value="@testVolume">@testVolume</option>
                        }
                    </select><br/>
                    <label>Personal Understanding</label><br>
                    <select @bind="localTest.Understanding">
                        @foreach (var personalUnderstanding in Enum.GetValues<Test.PersonalUnderstanding>())
                        {
                            <option value="@personalUnderstanding">@personalUnderstanding</option>
                        }
                    </select><br/>
                    <label for="testgrade">Grade</label><br>
                    <input type="number" id="testgrade" name="Title" @bind="@localTest.Grade">
                    <p></p>
                    <input type="submit" value="Finish Editing">
                </form>
            </div>
        </div>
    }

</div>
