@page "/"
@rendermode InteractiveServer
@using WSIST.Engine
<PageTitle>Home</PageTitle>

<h1>Your upcoming Tests</h1>

Welcome to your Overview.
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var test in tests)
        {
            <tr>
                <td>@test.Title</td>
                <td>@test.Subjects</td>
                <td>@test.DueDate.ToShortDateString()</td>
                <td><button class="btn btn-danger" @onclick="() => DeleteTest(test.Id)">🗑️</button> <button class="btn btn-primary" @onclick="() => OpenEdit(test)" @bind="localTest">
                    Edit test
                </button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="OpenAddTestModal">
        Add test
    </button>
    <button class="btn btn-primary" @onclick="Refresh">
        Refresh
    </button>
    
    
    @if (showAddTestModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseAddTestModal">X</span>
                <form class="text-center" @onsubmit="AddTestSubmit">
                    <label for="testTitle">Test Title</label><br>
                    <input type="text" id="testTitle" name="Title" @bind="testTitle"><br>
                    <label for="testSubject">Subject</label><br>
                    <input type="text" id="testSubject" name="Subject" @bind="subject"><br/>
                    <label for="TestDueDate">Due Date</label><br>
                    <input type="date" id="TestDueDate" name="dueDate" @bind="dueDate"><br/>
                    <br/>
                    <input type="submit" value="Submit"><br/>
                </form>
            </div>
        </div>
    }
    
    
    @if (showEditTestModal)
    {
        <div class="modal d-block">
            <div class="modal-content">
                <span class="close text-right" @onclick="CloseEditTestModal">X</span>
                <form class="text-center" @onsubmit="EditTestSubmit">
                    <label for="testTitle">Test Title</label><br>
                    <input type="text" id="testTitle" name="Title" @bind="@localTest.Title"><br>
                    <label for="testSubject">Subject</label><br>
                    <input type="text" id="testSubject" name="Subject" @bind="@localTest.Subjects"><br/>
                    <label for="TestDueDate">Due Date</label><br>
                    <input type="date" id="TestDueDate" name="dueDate" @bind="@localTest.DueDate"><br/>
                    <br/>
                    <input type="submit" value="Finish Editing"><br/>
                </form>
            </div>
        </div>
    }

</div>
